@charset "utf-8";

/* CSS Document */ /* 
	字体大小说明：
	页面标题大小（titleTable）：18px;	
	表格标题大小（subTitleTable）：16px;
	表格内容大小：14px;

 */ /*-----------------------标签各个页面body样式设置开始-----------*/
.mainBody {
	background: #ffffff;
	margin: 0;
	text-align: center;
	overflow-y: auto;
}

div#main-wrapper {
	padding: 12px 5px;
	width: 769px;
	margin: 0 auto
}

/*标签各个页面body样式设置结束*/
	/*-------------------------------常用表格样式开始------------------------------*/
.commonTable {
	width: 1200;
	border-collapse: collapse;
	text-align: center;
	font-size: 12;
	word-break: keep-all;
	border: solid #168101;
	border-width: 1px 0px 0px 1px;
	cellspacing: 1;
	cellpadding: 0;
	margin-top: 1px;
}

.commonTable th {
	border: solid #168101;
	border-width: 0px 1px 1px 0px;
	font-size: 12px;
	background: #6baa6b;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #000;
	cursor: default;
}

.commonTable td {
	border: solid #168101;
	border-width: 0px 1px 1px 0px;
	padding-left: 10px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*fusionchart 外层表格*/
#fusionchartTable {
	width: 1200;
	margin-top: 0px;
	text-align: center;
	border-collapse: collapse;
}


.titleTable{
	width:1200;
	text-align:left;
	font-size:16px;	
	height:25px;	
	color:#fff;
	background:#028002;
	margin-top:5px;
}

.subTitleTable{
	width:1200;
	border-collapse:collapse;
	text-align:left;
	font-size:14;
	padding:5px;
	border:#168101 1px solid;
}

select{
	font-size:11px;
	height: 18px;
}


.btn{
	border:none;
	width:60px;
	height:20px;
	cursor:pointer;
	background-image:url(../images/search2.jpg);
}


/************************数字链接弹出页面***********************/
.numHrefTable{
	margin-top:1px;
	text-align:center;
	font-size:12;
	width:1200;
	border-collapse: collapse;
	border: none; 
}

.numHrefTable td,th{
	cursor:hand;
	border:#168101 1px solid;
	/*white-space:nowrap;*/
}
.defaultBg{
	background-color: "white";
	border:#168101 1px solid;
}

.focusedBg{
	background-color:"#ffec8b";
	cursor:pointer;
	color:green;
	border:#168101 1px solid;
}

.selectedBg{
	background-color:"#e0eff2";
	cursor:pointer;
	border:#168101 1px solid;
	
}
