<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	
	<!-- <bean id="indexStatisticAction" class="com.ceit.defect.statistics.action.IndexStatisticAction" scope="prototype">
		<property name="indexStatisticService" ref="indexStatisticService"/>
	</bean>
   	<bean id="indexStatisticService"    
        class="com.ceit.defect.statistics.service.impl.IndexStatisticServiceImpl">    
        <property name="indexDefectDao" ref="indexDefectDao" />  
    </bean> 
    <jee:jndi-lookup jndi-name="IndexDefectDaoImpl/remote"
        id="indexDefectDao" lookup-on-startup="true" cache="true"
        proxy-interface="com.ceit.defect.statistics.dao.IndexDefectDao"
        environment-ref="evn">
    </jee:jndi-lookup>-->
	
	<util:properties id="evn" location="/WEB-INF/jndi.properties">
    </util:properties>
    <jee:jndi-lookup jndi-name="IndexDefectDaoImpl/remote"
    	id="indexDefectDao" lookup-on-startup="true" cache="true"
    	proxy-interface="com.ceit.defect.dao.IndexDefectDao"
    	environment-ref="evn"/>
    <bean id="indexDefectService"
    	class="com.ceit.defect.service.impl.IndexDefectServiceImpl">
    	<property name="indexDefectDao" ref="indexDefectDao"/>	
    </bean>
    <bean id="indexDefectAction" class="com.ceit.defect.action.IndexDefectAction" scope="prototype">
    	<property name="indexDefectService" ref="indexDefectService"/>
    </bean>

	<jee:jndi-lookup jndi-name="VoltageClassDefectDaoImpl/remote"
    	id="voltageClassDefectDao" lookup-on-startup="true" cache="true"
    	proxy-interface="com.ceit.defect.dao.VoltageClassDefectDao"
    	environment-ref="evn"/>
    
    <jee:jndi-lookup jndi-name="NativeQueryDaoImpl/remote"
    	id="nativeQueryDao" lookup-on-startup="true" cache="true"
    	proxy-interface="com.ceit.ico.dao.NativeQueryDao"
    	environment-ref="evn"/>
    <jee:jndi-lookup jndi-name="UnitDeviceDaoImpl/remote"
    	id="unitDeviceDaoImpl" lookup-on-startup="true" cache="true"
    	proxy-interface="com.ceit.defect.dao.UnitDeviceDao"
    	environment-ref="evn"/>
    	
    <bean id="defectService"
    	class="com.ceit.defect.service.impl.DefectServiceImpl">
    	<property name="nativeQueryDao" ref="nativeQueryDao"/>	
    	<property name="voltageClassDefectDao" ref="voltageClassDefectDao"/>
    	<property name="unitDeviceDao" ref="unitDeviceDaoImpl"></property>
    </bean>
    
    <bean id="voltageClassAction" class="com.ceit.defect.action.VoltageClassAction" scope="prototype">
    	<property name="defectService" ref="defectService"/>
    </bean>
    <bean id="unitDeviceAction" class="com.ceit.device.action.UnitDeviceAction" scope="prototype">
    	<property name="defectService" ref="defectService"/>
    </bean>
</beans>